<!DOCTYPE html>
<html>
    <head>
        <title><%= title %></title>
        <%- style  %>
    </head>
    <body>
        <%- include('header') -%>
        <%- body %>

        <%- script  %>
    </body>
</html>